* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.header {
  padding-bottom: 50px;
  background-color: aquamarine;
  width: 100%;
  text-align: center;
  margin-top: -200px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.result-text {
  font-size: 20px;
  padding: 10px;
}
.map-price {
  width: 50%;
}
label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}
input {
  display: block;
  margin-bottom: 10px;
}
.settings {
  margin-right: 30px;
}
#map {
  height: 100%;
  width: 100%;
}
